body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
    background-color: #f4f4f4;
}

input {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

img {
    margin-top: 20px;
}
